.selector {
    background-image: url(https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/CTA/scrum-team-structure.png);
    background-size: cover;
  }
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    margin-top: 368px;
    margin-left:690px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3261c5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }